{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'vendas/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Categorias:</p>
    {{ categorias }}
    <hr/>
    <p>Cadastrar nova categoria</p>
    <form action="{% url 'vendas:cadastro_categoria' %}" method="post">
        {% csrf_token %}
        Nome: <input type="text" name="nome" label="Nome"/><br/>
        Slug: <input type="text" name="slug" label="Slug"/><br/>
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>
